<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlinks}}
</head>

<body>
  {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="https://source.unsplash.com/1600x900/?error,water" alt="thapa" class="img-fluid" title="thapa technicle">
                        </figure>
                    <p class="text-center mt-5">welcome to thapa technicle app</p>    
                        <h1 class="text-center">{{errormsg}}</h1>
                        <a href="/"><button>go back</button></a>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>